/* reset all the paddings and margins for the page so we can use the full length of the page */
body {
    margin: 0;
    padding: 0;
}

/* contaner for slides 1 and 2 styles */
.section1__box, .section2__box{ 
    height: 100vh;
    background-color: rgb(94, 159, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.section2__box {  
  background-color:rgb(39, 81, 172);
}

.section1__box__img, .section2__box__img {
  height: 100%;
}

/* buttons from section 1 and 2 styles */
.section1__box__btn, .section2__box__btn {
    height: 10.42vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transform: translate(-50%, 10%);
    left: 50%;
    bottom: 0;
    opacity: 0.5;
}

.section1__box__btn__img, .section2__box__btn__img {
    height: 100%;
}

.section1__box__btn:hover, .section2__box__btn:hover {
    opacity: 1;
}

/* styles for the animated red dots on the first slide */

.red-dots__dot {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(219, 107, 107, 0.747);
  border-radius: 50%;
  border: crimson solid 1px;
  display: inline-block;
  animation: growCircles 1s infinite;
}

/* animation instructions for red dots */
@keyframes growCircles{
    from {
        transform: scale(0);
         }
    to {
      transform: scale(3);  
      }
}

.red-dots__dot:hover {
  cursor: pointer;
}


/* postitioning of red dot to the peaks on the first slide */
.red-dots--gipo-position, .red-dots--cd-position, .red-dots--hbA1c-position, .red-dots--cc-position  {
  position: absolute;
}
/* for Ipad screen */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
    .red-dots--gipo-position {
        top: 435px;
        left: 283px;
    }

    .red-dots--cd-position {
        top: 540px;
        left: 482px;
    }

    .red-dots--hbA1c-position {
        top: 280px;
        left: 585px;
    }
      
    .red-dots--cc-position {
        top: 520px;
        left: 826px;
    }
}

 
/* for Laptop screens screen */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .red-dots--gipo-position {
        top: 450px;
        left: 534px;
    }

    .red-dots--cd-position {
        top: 529px;
        left: 731px;
    }

    .red-dots--hbA1c-position {
        top: 278px;
        left: 830px;
    }
      
    .red-dots--cc-position {
        top: 512px;
        left: 1069px;
    }
}


 
/* styles for 3 white/orange dots to the right */
.right-slider {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
/* positioning for Ipad screen*/
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {
  .right-slider {
    top: 380px;
    left: 980px;
  }
}

/* positioning for Laptop screen*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .right-slider {
      top: 350px;
      left: 1230px;
    }
  }



/*styles to create dots */
.right-slider__dots {
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.66);
    border-radius: 50%;
    margin: 0.2vh;
}

/* adding color size and transitioning color when scrolling */
.right-slider__dots--white {
    height: 17px;
    width: 17px;
    background-color: #ffffff;
}

.right-slider__dots--orange {
    transition: 0.3s background-color;
    background-color: #f78b1f;
}

/* adding transitioning when hovering over dots */
a:hover {
    transition: 0.2s background-color;
    background-color: #ffb265;
}

/* styles for the last section with Horizontal slider starts here */
.section-x__wrapper {
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  }


  .section-x__wrapper__slider::-webkit-scrollbar {
    display: none;
}

  .section-x__wrapper__slider {
    overflow-x: scroll;
  }
  .section-x__wrapper__slider__holder {
    width: 300%;
  }

  .holder__slide {
    float: left;
    width: 1024px;
    height: 100vh;
    position: relative;
    background-position: -100px 0;
  }
 
/* slides images used as backgrounds to divs */
  .holder__slide--url-0 {
    background: url(../imgs/slide3/slide3-1024.jpg) center center no-repeat;
  }
  .holder__slide--url-1 {
    background: url(../imgs/slide4/slide4-1024.jpg) center center no-repeat;
  }
  .holder__slide--url-2 {
    background: url(../imgs/slide5/slide5-1024.jpg) center center no-repeat;
  }
  .holder__slide:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, black);
  }

  /* don't show the navigation lniks but we use them with input range */
  .section-x__slider-nav {
    display: none;
  }

  /* use our own style for slider line */
  .section-x__wrapper__input{
    z-index: 9;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 9vh;
    -webkit-appearance: none;
    width: 800px;
    height: 4px;
    padding: 5px;
    background-color: #97bcda;  
  }

  /* use our own picture and styling for range slider Thumb */
  .section-x__wrapper__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 45px;
    height: 58px;
    background: url(../imgs/slide3/rangeSliderThumb.png) no-repeat;
    cursor: pointer;
}

/* styles for range slider labels and their  */
.section-x__wrapper__labels {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.22px;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    bottom: 10vh;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 1vh;
    width: 800px;
    flex-direction: row;
    display: flex;
}