/* reset all the paddings and margins for the page so we can use the full length of the page */
body {
    margin: 0;
    padding: 0;
}




/* contaner for slides 1 and 2 styles */
.box1, .box2{ 
    height: 100vh;
    background-color: rgb(94, 159, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.box2 {  
  background-color:rgb(39, 81, 172);
}

.box1 > img, .box2 > img {
  height: 100%;
}

/* buttons from section 1 and 2 styles */
.btn {
    height: 10.42vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    transform: translate(-50%, 10%);
    left: 50%;
    bottom: 0;
    opacity: 0.5;
}

.btn > img {
    height: 100%;
}

.btn:hover {
    opacity: 1;
}

/* styles for the animated red dots on the first slide */

.dot {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: rgba(219, 107, 107, 0.747);
  border-radius: 50%;
  border: crimson solid 1px;
  display: inline-block;
  animation: growCircles 1s infinite;
}

/* animation instructions for red dots */
@keyframes growCircles{
    from {
        transform: scale(0);
         }
    to {
      transform: scale(3);  
      }
}

.dot:hover {
  cursor: pointer;
}


/* postitioning of red dot to the peaks on the first slide */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
   
  #summitGipo {
    position: absolute;
    top: 435px;
    left: 283px;
}

#summitCD {
    position: absolute;
    top: 540px;
    left: 482px;
}

#summitHbA1c {
    position: absolute;
    top: 280px;
    left: 585px;
}
  
#summitCC {
    position: absolute;
    top: 520px;
    left: 826px;
}
}

 

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

   
  #summitGipo {
    position: absolute;
    top: 428px;
    left: 534px;
}

#summitCD {
    position: absolute;
    top: 529px;
    left: 731px;
}

#summitHbA1c {
    position: absolute;
    top: 278px;
    left: 830px;
}
  
#summitCC {
    position: absolute;
    top: 512px;
    left: 1069px;
}
}


 
/* styles for 3 white/orange dots to the right */
/* positioning */
#rightSlideChanger {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;
    top: 47vh;
    left: 163vh;
    /* text-align: center; */
}

/*styles to create dots */
.slideChangeDots {
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.66);
    border-radius: 50%;
    margin: 0.2vh;
}

/* adding color size and transitioning color when scrolling */
.dotWhite {
    height: 17px;
    width: 17px;
    background-color: #ffffff;
}

.dotOrange {
    transition: 0.3s background-color;
    background-color: #f78b1f;
}

/* adding transitioning when hovering over dots */
a:hover {
    transition: 0.2s background-color;
    background-color: #ffb265;
}

/* styles for the last section with Horizontal slider starts here */
.sliderWrap {
    width: 1024px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  }


  .slider::-webkit-scrollbar {
    display: none;
}

  .slider {
    overflow-x: scroll;
  }
  .holder {
    width: 300%;
  }

  .slide {
    float: left;
    width: 1024px;
    height: 100vh;
    position: relative;
    background-position: -100px 0;
  }
 
/* slides images used as backgrounds to divs */
  #slide0 {
    background: url(/onpointTask/src/imgs/slide3/slide3-1024.jpg) center center no-repeat;
  }
  #slide1 {
    background: url(/onpointTask/src/imgs/slide4/slide4-1024.jpg) center center no-repeat;
  }
  #slide2 {
    background: url(/onpointTask/src/imgs/slide5/slide5-1024.jpg) center center no-repeat;
  }
  .slide:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, black);
  }

  /* don't show the navigation lniks but we use them with input range */
  .sliderNav {
    display: none;
  }

  /* use our own style for slider line */
  #rangeSlider{
    z-index: 9;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 9vh;
    -webkit-appearance: none;
    width: 800px;
    height: 4px;
    padding: 5px;
    background-color: #97bcda;  
  }

  /* use our own picture and styling for range slider Thumb */
  #rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 45px;
    height: 58px;
    background: url(/onpointTask/src/imgs/slide3/rangeSliderThumb.png) no-repeat;
    cursor: pointer;
}

/* styles for range slider labels and their  */
.inputLabels {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -0.22px;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    bottom: 10vh;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 1vh;
    width: 800px;
    flex-direction: row;
    display: flex;
}